* {
    font-family: 'Raleway', serif;
    line-height: 2.2rem;
}

html, body {
    height: 100%;
}

.bg-home {
    background: linear-gradient(#25252586, #25252586), url("../../pictures/background_home.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-about-contact {
    background-color: rgb(185, 185, 185);
    height: 100% !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5rem;
}

.bg-services {
    background: linear-gradient(#25252586, #25252586), url("../../pictures/background_services.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-navbar{
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.card-border {
    background-color: rgba(230, 230, 230, 0.5) !important;
    height: 100%;
    padding-left: 4rem;
}

.about-div {
    width: 72rem;
    height: 38rem;
}

.about-text {
    padding-left: 10rem !important;
    padding-right: 10rem !important;
}

.about-pic {
    background: linear-gradient(#25252586, #25252586), url("../../pictures/about.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-pic-wrapper {
    max-width: 100% !important;
    object-fit: cover;
}

.card-bg {
    border-radius: 0 !important;
    background-color: rgba(46, 46, 46, 0.8) !important;
    padding: 2rem;
}

.about-info {
    font-size: 1.3rem;
}

.container-fluid {
    padding: 0px !important;
}

.contact-title {
    padding-bottom: 5rem;
}

.pic:hover > .overlay {
    position: absolute;
    top: 0;
    width:350px;
    height:100%;
    left: 0;
    background-color:#000;
    opacity:0.5;
    z-index: 100;
    display: block;
    align-items: center;
}