* {
    font-family: 'Raleway', serif;
}

html, body {
    height: 100%;
}

.bg-home {
    background: linear-gradient(#25252586, #25252586), url("../../pictures/background_home.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-about-contact {
    background-color: rgb(185, 185, 185);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-services {
    background: linear-gradient(#25252586, #25252586), url("../../pictures/background_services.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-navbar{
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.card-border {
    background-color: rgba(230, 230, 230, 0.5) !important;
    width: 72rem;
    height: 36rem;
}